.homepage-hero-wrapper {
  position: relative;
  height: 460px;
  width: 100%;
}

@media (min-width: 360px) {
  .homepage-hero-wrapper {
    height: 540px;
  }
}

@media (min-width: 990px) {
  .homepage-hero-wrapper {
    height: 590px;
  }
}

@media (min-width: 1100px) {
  .homepage-hero-wrapper {
    height: 620px;
  }
}

.homepage-hero-striped-background {
  position: absolute;
  display: block !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.5;
  background-size: 12px 12px;
  background-image: repeating-linear-gradient(
    45deg,
    #f5f2fa 0,
    #f5f2fa 1.2000000000000002px,
    #ffffff 0,
    #ffffff 50%
  );
  z-index: -1;
}

.homepage-hero-image-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: inherit;
  height: inherit;
  align-items: center;
  justify-content: center;
  padding: 0 28px;
}

.hh-logo-wrapper {
  position: relative;
  transform: rotate(-8deg);
  width: 200px;
  margin-left: -50px;
  margin-bottom: 8px;
}

@media (min-width: 360px) {
  .hh-logo-wrapper {
    width: 240px;
    margin-left: -60px;
    margin-bottom: 12px;
  }
}

@media (min-width: 750px) {
  .hh-logo-wrapper {
    transform: rotate(-4deg);
    width: 260px;
    margin-left: -300px;
    margin-bottom: 0px;
  }
}

@media (min-width: 990px) {
  .hh-logo-wrapper {
    transform: rotate(0deg);
    width: 290px;
    margin-left: -520px;
    margin-bottom: 6px;
  }
}

@media (min-width: 1100px) {
  .hh-logo-wrapper {
    margin-left: -740px;
    margin-bottom: 0px;
  }
}

@media (min-width: 1500px) {
  .hh-logo-wrapper {
    margin-left: -780px;
  }
}

.hh-image-wrapper {
  position: relative;
  width: 240px;
  height: 260px;
  transform: rotate(-8deg);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

@media (min-width: 360px) {
  .hh-image-wrapper {
    height: 300px;
    width: 280px;
  }
}

@media (min-width: 750px) {
  .hh-image-wrapper {
    transform: rotate(-4deg);
    width: 580px;
  }
}

@media (min-width: 990px) {
  .hh-image-wrapper {
    width: 820px;
  }
}

@media (min-width: 1100px) {
  .hh-image-wrapper {
    width: 1040px;
  }
}

@media (min-width: 1500px) {
  .hh-image-wrapper {
    width: 1120px;
  }
}

.image-wrapper,
.image-wrapper-two {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-wrapper-two {
  display: none;
}

.image {
  width: 100%;
  max-width: 100%;
  display: block;
  height: inherit;
  min-height: inherit;
  object-fit: cover;
}

@media (min-width: 990px) {
  .hh-image-wrapper {
    box-shadow: unset;
    overflow: unset;
  }

  .hh-image-one {
    width: 66%;
    border-radius: inherit;
  }

  .image-wrapper {
    border-radius: 10px;
    overflow: hidden;
  }

  .image-wrapper-two {
    display: block;
    width: 30%;
    height: 164%;
    right: 0;
    top: -22%;
    left: unset;
    border-radius: 10px;
    overflow: hidden;
  }
}

.hh-hero-text {
  align-self: flex-end;
  margin: 22px auto;
  margin-bottom: 0;
  width: 100%;
  max-width: 280px;
}

@media (min-width: 360px) {
  .hh-hero-text {
    margin: 32px auto;
    margin-bottom: 0;
    font-size: var(--font-lg);
    max-width: 300px;
  }
}

@media (min-width: 750px) {
  .hh-hero-text {
    margin: 18px auto;
    margin-bottom: 0;
    max-width: 580px;
  }
}

.hero-text-one {
  text-align: end;
  font-family: var(--font-heading-family) !important;
  font-weight: bold;
}

.hero-text-two {
  text-align: end;
  color: var(--color-brand-primary);
}

@media (min-width: 990px) {
  .hh-hero-text {
    margin: 28px auto;
    margin-bottom: 0;
    max-width: 320px;
  }

  .hero-text-one,
  .hero-text-two {
    margin-right: 28px;
  }
}

@media (min-width: 1100px) {
  .hh-hero-text {
    margin: 32px auto;
    margin-bottom: 0;
  }

  .hero-text-one,
  .hero-text-two {
    margin-right: 0px;
  }
}
